.container {
    text-align: center;
    font-weight: bold;
    background-color: aquamarine;
}

#text {
    text-align: center;
    font-weight: bold;
    color: black;
}
.color {
    color: blue;
    background-color: darkgray;
}
